.card {
  margin: 10px;
  padding: 0;
  border-radius: 10px;
  border: 1px solid #252a31;
  width: 30%;
  min-width: 20em;
  box-shadow: 5px 5px 25px #30363d;
  overflow: hidden;
  background: #444a53;
  background: -moz-radial-gradient(center, ellipse cover, #444a53 18%, #252a31 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #444a53 18%, #252a31 100%);
  background: radial-gradient(ellipse at center, #444a53 18%, #252a31 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 ); }

.selected {
  box-shadow: 0 0 15px #349BF5; }
  .selected .district-name {
    background: #70879B;
    background: -moz-linear-gradient(top, #70879B 0%, #526B7F 100%);
    background: -webkit-linear-gradient(top, #70879B 0%, #526B7F 100%);
    background: linear-gradient(to bottom, #70879B 0%, #526B7F 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); }

.district-name {
  background: #444a53;
  background: -moz-linear-gradient(top, #444a53 0%, #252a31 100%);
  background: -webkit-linear-gradient(top, #444a53 0%, #252a31 100%);
  background: linear-gradient(to bottom, #444a53 0%, #252a31 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
  display: flex;
  align-items: center;
  font-size: 1em;
  border-bottom: 1px solid #252a31;
  color: #e5eff4;
  height: 3em;
  padding: .5em;
  margin: 0; }

.card-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
  font-size: .8em; }

.data-line {
  margin: 0; }

.above-fifty {
  color: #7FB068; }

.below-fifty {
  color: #DB3E79; }
