@import "variables.scss";

.compare-container {
  @include linear-gradient($select-color-dark, $select-color);
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  .card-data, h1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h2:last-child {
    justify-content: flex-end;
  }
}

.compare-card {
  margin: 2em 0;
  .card-data {
    align-items: flex-start;
  }
}

.left h2 {
  @include linear-gradient($highlight-dark, $highlight);
}

.right h2 {
  @include linear-gradient($select-color-bright-shadow, $select-color-bright);
}
